*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
     min-height: 100vh;
     min-width: 100vw;
}


.sidebar {
  height: 100vh; 
  width: 25vw; 
  background-color: #c94770; 
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}



.sidebar_title{
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #DD7596;
}

.main_title{
    font-size: 20px;
}

.add{
    padding: 10px;
    margin: 10px auto;

}

.project_button{
    padding: 10px;
     opacity: 0.3;
     width: 10vw;
     font-size: 1rem;
    /* position: fixed;
     bottom: 23px;
     left : 10px; */
}

.project_button:hover{
     cursor: pointer;
    opacity: 0.7;
}

.main_title{
    font-size: 3rem;
    margin: 35px;
   
}


.task_button{
    padding: 10px;
    width: 40vw;
    opacity: 0.3;
    font-size: 1.4rem;
   
}

.task_button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.main {
  width: 75vw;
  height: 100vh; 
background-color: #DD7596;
display: flex;
flex-direction: column;
}

/* Styling the forms*/

.project_form{
    display: none;
    margin: 10px auto;
    border: 3px solid rgb(148, 82, 129);
}

.formContainer {
  width: 20vw;
  height: 30vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247, 229, 241);
  text-align: center;
}

.formContainer label{
    font-size: 1.1rem;
    text-align: left;
}

.formContainer input[type=text]{
    width :100%;
    padding: 0.6rem;
    font-size: 1rem;
}